<%- include('../partials/style') %>

<nav class="navbar navbar-expand-sm navbar-light mb-4" style="background-color: #a9aeb1;">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/flights">Flights</a>
      <a class="nav-item nav-link" href="/flights/new">New Flight</a>
      <a class="nav-item nav-link" target="_blank" href="https://github.com/ricardo39985/mongoose-flights">Github</a>
    </div>
  </div>
</nav>
