<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="text-danger">
        <p>tt</p>
    </div>
</body>
